::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background-color: rgb(183, 183, 183); */
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7e22ce;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.slick-prev {
    left: -2% !important;
    z-index: 999;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px !important;
    color: white !important;
    background-color: black !important;
}
.slick-next {
    right: -2% !important;
    z-index: 999;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px !important;
    color: white !important;
    background-color: black !important;
}
